<div class="col s12 m6 l6">
   <a href="#">
      <div class="card hoverable box-shadow-none">
         <div class="card-image">
            <img src="assets/images/file1.jpg">
         </div>
         <div class="card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
         </div>
            
      </div>
   </a>
</div>

