body{
	background-image: url("2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}



div.about_us1{
	background-image: url("footsteps/about_us/1.png");
	position: absolute;
	width: 2.6%;
	height: 4%;
	background-size: 100% 100%;
}

div.about_us2{
	background-image: url("footsteps/about_us/2.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us3{
	background-image: url("footsteps/about_us/3.png");
	position: absolute;
	width: 2.8%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us4{
	background-image: url("footsteps/about_us/4.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us5{
	background-image: url("footsteps/about_us/5.png");
	position: absolute;
	width: 4%;
	height: 4%;
	background-size: 100% 100%;
}

div.about_us6{
	background-image: url("footsteps/about_us/6.png");
	position: absolute;
	width: 4%;
	height: 4%;
	background-size: 100% 100%;
}

div.about_us7{
	background-image: url("footsteps/about_us/7.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us8{
	background-image: url("footsteps/about_us/8.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us9{
	background-image: url("footsteps/about_us/9.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us10{
	background-image: url("footsteps/about_us/10.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us11{
	background-image: url("footsteps/about_us/11.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us12{
	background-image: url("footsteps/about_us/12.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us13{
	background-image: url("footsteps/about_us/13.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us14{
	background-image: url("footsteps/about_us/14.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}

div.about_us15{
	background-image: url("footsteps/about_us/15.png");
	position: absolute;
	width: 2.6%;
	height: 5%;
	background-size: 100% 100%;
}